$rbf-light-red: rgba(255, 42, 42, 0.75);
$rbf-dark-red: rgba(48, 8, 8, 0.55);
$rbf-dark-red-pressed: rgba(60, 10, 10, 0.55);
$rbf-light-red-pressed: rgba(156, 46, 46, 0.55);
$rbf-base-red: rgba(128, 0, 0, 0.65);
$rbf-substrate: rgb(44, 6, 6);
$rbf-text-shadow: rgb(255, 156, 156);

$base-bg: rgb(77, 77, 97); // #4d4d61
$dark-base-bg: darken($base-bg, 30%);
$light-base-bg: lighten($base-bg, 20%);

$base-fg: rgba(246, 245, 244, 1); // #f6f5f4
$base-outline-color: rgba(236, 241, 241, 0.3); //
$base-border-color: rgba(46, 52, 54, 0.9); // #2e3436

// Theme diverging here
$ux-darkest-blue: #0000ba;
//$ux-darkdark-blue: darken($ux-darkest-blue, 80%);
$ux-darkdark-blue: #000078;
$ux-darkest-popup_bg: #6363ba;
$ux-other-blue-light: #9696ba;

$ux-dark-gray: #404040;

// Constants for the base colors from GTK
//$gtk_text_color: #2e3436;
//$gtk_bg_color: #f6f5f4;
$gtk_text_color: $ux-dark-gray;
$gtk_bg_color: $ux-other-blue-light;
$gtk_border_color: darken($gtk_bg_color, 18%);
$insensitive_bg_color: mix($gtk_bg_color, white, 60%);

$sandbox-slate: rgba(77, 77, 97, 1);
$dark-sandbox-slate: darken($sandbox-slate, 70%);
$light-sandbox-slate: lighten($sandbox-slate, 50%);
$selected-table-row: rgba(65, 120, 234, .75);